@use "../../../assets/styles/colors";

.bs-select {
  position: relative;

  select {
    padding: 3px 9px 3px 3px;

    color: colors.$color-light-primary;
    background: colors.$color-light-background;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 6px;
  }

  &::after {
    content: url("../../../assets/images/desktop/select-arrows.svg");
    position: absolute;
    width: 16px;
    height: 70%;
    right: 3px;
    top: 15%;
    pointer-events: none;

    background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
    box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1),
      0px 0.5px 1.5px rgba(54, 122, 246, 0.25);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/**
 * Manage dark theme
 */
.dark {
  .bs-select select {
    color: colors.$color-dark-primary;
    background: #6e6d70;
  }
}
