@import "../../assets/styles/colors";

.draggable-fullscreen {
  // Overwrite the draggable window props
  width: calc(100% - 2px) !important;
  height: calc(100% - 80px - 33px) !important;
  transform: translate(0, 30px) !important;
}

.draggable-closed {
  display: none !important; // Overwrite the display of draggable window
}

.window {
  background-color: $color-light-background;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  height: 100%;

  &.closed {
    display: none;
  }
}

.window__header {
  height: 25px;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.15),
    inset 0px -0.5px 0px rgba(0, 0, 0, 0.05);
  padding: 0.2rem;
}

.window__header-title {
  position: absolute;
  height: 25px;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;

  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.004em;
  color: $color-light-primary;
}

.window__header-buttons {
  z-index: 2;
  button {
    margin: 0.2rem;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    border: none;

    &.fullscreen {
      background-color: $color-light-green;
    }
    &.close {
      background-color: $color-light-red;
    }
  }
}

.window__content {
  background-color: $color-light-background-inactive;
  flex-grow: 1;
  height: calc(
    100% - 25px - 28px - 0.4rem
  ); // Substract the header and footer height and padding
  width: 100%;
}

.window__footer {
  height: 28px;
  background-color: $color-light-background-inactive;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*
 * Dark theme
 */
.dark {
  .window {
    background-color: #1e1e1e;
  }

  .window__header-title {
    color: $color-dark-secondary;
  }

  .window__header-buttons {
    .fullscreen {
      background-color: $color-dark-green;
    }
    .close {
      background-color: $color-dark-red;
    }
  }

  .window__content,
  .window__footer {
    background-color: $color-dark-background;
  }
}
