$color-dark-gray: #212121;
$color-medium-gray: #666666;
$color-light-gray: #e0e0e0;
$color-white: #ffffff;
$color-background: #f7f7f7;

$types: (
  "normal": #aaa67f,
  "fighting": #c12239,
  "flying": #a891ec,
  "poison": #a43e9e,
  "ground": #dec16b,
  "rock": #b69e31,
  "bug": #a7b723,
  "ghost": #70559b,
  "steel": #b7b9d0,
  "fire": #f57d31,
  "water": #6493eb,
  "grass": #74cb48,
  "electric": #f9cf30,
  "psychic": #fb5584,
  "ice": #9ad6df,
  "dragon": #7037ff,
  "dark": #75574c,
  "fairy": #e69eac,
);

@each $type, $color in $types {
  .type-#{$type} {
    --card-color: #{$color};
  }

  .type-span-#{$type} {
    background-color: #{$color};
  }
}

.pokedex__loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .pokedex__loader-lottie {
    width: 50%;
    height: 100%;
  }
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: $color-white;
  font-family: "Poppins";
}

.pokemon-card {
  margin: 0.5rem;
  max-width: 150px;
  max-height: 200px;
  border-radius: 8px;
  border: 1px solid var(--card-color);
  position: relative;
  transition: transform 0.8s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.pokemon-card__image {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .pokemon-card__image-number {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--card-color);
  }
}

.pokemon-card__name {
  padding: 0.5rem;
  background-color: var(--card-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid var(--card-color);
  text-align: center;
  text-transform: capitalize;
}

/*
 * Pokemon detail page
 */
.pokemon-detail {
  background-color: var(--card-color);
  height: 100%;
  padding: 0.5rem;
  word-break: break-all;
  position: relative;
  color: $color-white;

  * {
    font-family: "Poppins";
  }

  & > img {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .pokemon-detail__header {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    .pokemon-detail__header-back {
      cursor: pointer;
      font-weight: 700;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
    }

    .pokemon-detail__header-title {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }

    .pokemon-detail__header-number {
      flex-grow: 1;
      text-align: right;
      font-weight: 700;
      font-size: 12px;
      line-height: 32px;
    }
  }

  .pokemon-detail__content {
    background-color: $color-white;
    color: $color-dark-gray;
    border-radius: 8px;
    margin: 150px 1px 1px 1px;
  }
}

.pokemon-detail__content-image {
  display: flex;
  justify-content: center;
  position: relative;
  height: 50px;

  img {
    position: absolute;
    top: -150px;
    height: 200px;
  }
}

.pokemon-detail__content-about {
  h3 {
    text-align: center;
    color: var(--card-color);
  }
}

.pokemon-detail__content-types {
  display: flex;
  justify-content: center;
}

.type-span {
  border-radius: 10px;
  margin: 0 5px;
  padding: 2px 8px;
  text-transform: capitalize;
}

/* Pokemon overview */
.pokemon-detail__content-overview {
  display: flex;
  width: 100%;
  justify-content: center;

  .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem 2rem;

    &:not(:last-child) {
      padding-right: 2rem;
      border-right: 1px solid $color-light-gray;
    }

    .overview__value {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      .overview__value-image,
      .overview__value-number {
        margin: 0 0.2rem;
      }
      .overview__value-number {
        color: $color-dark-gray;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .overview__title {
      color: $color-medium-gray;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
    }
  }
}

/* Pokemon description */
.pokemon-detail__content-description {
  padding: 0 1.5rem 1rem 1.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-dark-gray;
}
