.statusbar {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.statusbar__left,
.statusbar__right {
  display: flex;
  align-items: center;
  width: 15%;

  &.statusbar__left {
    justify-content: center;
  }

  &.statusbar__right {
    justify-content: flex-end;
  }
}

.statusbar__left-hour {
  text-align: center;
  font-size: 1.1rem;
  color: #ffffff; // TODO : import variables
}

.statusbar__right-ico {
  height: 0.9rem;
  margin: 0 0.3rem;
}
