@import "../../assets/styles/colors";

.about {
  height: 100%;
  width: 100%;
  display: flex;

  p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
    font-weight: 200;

    span {
      font-weight: 500;
      margin-right: 0.5rem;
    }
  }

  .bold {
    font-weight: bold;
  }
}

.about__picture {
  flex: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 65%;
    border: 8px solid $color-light-primary;
    border-radius: 50%;
  }
}

.about__description {
  flex: 3;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  color: $color-light-primary;
}

.about__description-header {
  margin: 1rem 0;

  .about__description-header_name {
    font-size: 1.5rem;
  }
}

/**
 * Dark theme
 */
.dark {
  .about__picture {
    img {
      border-color: $color-dark-primary;
    }
  }

  .about__description {
    color: $color-dark-primary;
    font-family: "SF Pro Text", "San Francisco";
  }
}
