@use "../../../assets/styles/colors";

.divider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1px;

  .divider__line {
    width: 90%;
    height: 1px;
    background: colors.$color-light-quartinerary;
  }
}

/*
 * Manage dark theme
 */
.dark {
  .divider__line {
    background: colors.$color-dark-quartinerary;
  }
}
