.lockscreen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lockscreen__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 2;

  .lockscreen__header-lock {
    width: 23px;
  }

  .lockscreen__header-hour {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 200;
    font-size: 83px;
    line-height: 99px;
    letter-spacing: -0.24px;

    color: #ffffff;
  }

  .lockscreen__header-date {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.5px;

    color: #ffffff;
  }
}

.lockscreen__content {
  flex: 6;
}

.lockscreen__footer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  .lockscreen__footer-flashlight,
  .lockscreen__footer-camera {
    flex: 1;
    display: flex;
    justify-content: center;

    .custom__button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      background: rgba(95, 88, 88, 0.3);
      mix-blend-mode: normal;
    }

    img {
      &.camera {
        width: 22px;
      }
      &.flashlight {
        width: 10px;
      }
    }
  }

  .lockscreen__footer-swipe {
    flex: 2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    span {
      font-family: "SF Pro Text";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: -0.408px;

      color: #ffffff;

      opacity: 0.64;
    }
  }
}
