.smartphone-app {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: url("./assets/images/smartphone/wallpaper.jpg") no-repeat center;
  background-size: cover;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
