/* Light palette */
$color-light-red: #ff3b30;
$color-light-orange: #ff9500;
$color-light-green: #34c759;
$color-light-teal: #5ac8fa;
$color-light-blue: #007aff;
$color-light-indigo: #5856d6;
$color-light-purple: #af52de;
$color-light-pink: #ff2d55;
$color-light-yellow: #ffcc00;
$color-light-gray1: #8e8e93;
$color-light-gray2: #aeaeb2;
$color-light-gray3: #c7c7cc;
$color-light-gray4: #d1d1d6;
$color-light-gray5: #e5e5ea;
$color-light-gray6: #f2f2f7;
$color-light-primary: #3d3d3d;
$color-light-secondary: rgba(60, 60, 67, 0.6);
$color-light-tertiary: rgba(60, 60, 67, 0.3);
$color-light-quartinerary: rgba(60, 60, 67, 0.18);
$color-light-background: #ffffff;
$color-light-background-inactive: #f6f6f6;

/* Dark palette */
$color-dark-red: #ff3b30;
$color-dark-orange: #ff9500;
$color-dark-green: #34c759;
$color-dark-teal: #5ac8fa;
$color-dark-blue: #007aff;
$color-dark-indigo: #5856d6;
$color-dark-purple: #af52de;
$color-dark-pink: #ff2d55;
$color-dark-yellow: #ffcc00;
$color-dark-gray1: #8e8e93;
$color-dark-gray2: #aeaeb2;
$color-dark-gray3: #c7c7cc;
$color-dark-gray4: #d1d1d6;
$color-dark-gray5: #e5e5ea;
$color-dark-gray6: #f2f2f7;
$color-dark-primary: #dfdedf;
$color-dark-secondary: rgba(235, 235, 245, 0.6);
$color-dark-tertiary: rgba(235, 235, 245, 0.3);
$color-dark-quartinerary: rgba(235, 235, 245, 0.18);
$color-dark-background: #282828;
$color-dark-background-inactive: rgba(40, 40, 40, 0.6);
