@import "./colors";

* {
  font-family: "SF Pro", "San Francisco";
}

html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "SF Pro", "San Francisco";
  color: $color-light-primary;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("../fonts/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 800;
  src: url("../fonts/sanfranciscodisplay-bold-webfont.woff");
}

body {
  display: flex;
  flex-direction: column;
}

body .desktop-app {
  height: 100%;
  transition: background-image 200ms ease-in;

  &.bg-colorful {
    background: url("../../assets/images/light-colorful.jpeg") no-repeat center;
    background-size: cover;
  }

  &.bg-landscape {
    background: url("../../assets/images/light-landscape.jpeg") no-repeat center;
    background-size: cover;
  }

  .warning-msg {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  body .desktop-app {
    & > * {
      display: none;
    }

    .warning-msg {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      .warning-msg__content {
        background: rgba(245, 245, 245, 0.6);
        backdrop-filter: blur(54.3656px);
        margin: 0 1rem;
        padding: 1rem;
        border-radius: 13px;

        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: #000000;
      }
    }
  }
}

body .smartphone-app.locked {
  background: url("../../assets/images/smartphone/wallpaper.png") no-repeat
    center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.text__default {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.35px;
}

/**
 * Dark theme
 */
.dark {
  color: $color-dark-primary;

  .desktop-app {
    &.bg-colorful {
      background: url("../../assets/images/dark-colorful.jpeg") no-repeat center;
      background-size: cover;
    }

    &.bg-landscape {
      background: url("../../assets/images/dark-landscape.jpeg") no-repeat
        center;
      background-size: cover;
    }
  }
}
