.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid #fff;
    outline-offset: -4px;
    border-radius: 12px;
  }

  &--disabled {
    pointer-events: none;
  }
}

.footer__slider {
  width: 134px;
  height: 5px;
  background: #ffffff;
  border-radius: 100px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);

  &--float {
    animation: float 6s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
