.footer__slider {
  position: absolute;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 + 0.5px);
  bottom: 8px;

  /* Label Color / Dark / Primary */

  background: #ffffff;
  border-radius: 100px;
}
